* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}
a img {
  border: none;
}
button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}
button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

body {
  background-color: #f8f7f3;
  color: #1a24fb;
  font-family: "Montserrat", sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #1a24fb;
  color: #f8f7f3;
}

.nav h1 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
  margin-left: 12px;
}

.nav .material-icons {
  font-size: 24px;
  margin-right: 12px;
}

#container {
  max-width: 1280px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 100px;
  padding: 0px 10px;
  justify-content: center;
}

.card {
  position: relative;
}

.inner {
  padding: 40px;
  width: 340px;
  min-height: 480px;
  border: 1px #1a24fb solid;
}

.number {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 98;
  top: 5px;
  right: 5px;
  font-size: 40px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  min-height: 72px;
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0px 20px;
}

.sub {
  font-size: 12px;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.text {
  font-size: 16px;
  font-weight: 400;
}

.detailsButton {
  width: 100%;
  height: 18px;
  font-size: 14px;
  margin: 10px 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detailsButton .material-icons {
  font-size: 18px;
}

.detailsButton:hover {
  background-color: #1a24fb;
  color: #f8f7f3;
}
